<div class="impression">
  <div class="impression-block">
    <%= render Admin::QuickImpressionViewComponent.new(impression: impression) %>
  </div>
  <%= link_to 'View more', impression, class: 'text-sm' %>
</div>
