<h1>New Profile</h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', profile: @profile %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', :profiles %>
  <% end %>
<% end %>
