<h1>New Profile Image</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', profile_image: @profile_image, profile: @profile %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', [@profile, :profile_images] %>
  <% end %>
<% end %>
