<div class="max-w-prose p-12 mx-auto md:my-3 md:overflow-hidden sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl">
  <div class="flex flex-wrap justify-evenly">
    <%= image_tag @images&.first&.file.variant(resize_to_limit: [350, 350]), alt: 'gallery image', class: '' %>
    <%= image_tag @images&.second&.file.variant(resize_to_limit: [350, 350]), alt: 'gallery image', class: 'self-center' %>
    <%= image_tag @images&.third&.file.variant(resize_to_limit: [350, 350]), alt: 'gallery image', class: 'self-center' %>
    <%= image_tag @images&.fourth&.file.variant(resize_to_limit: [350, 350]), alt: 'gallery image', class: 'self-end' %>
  </div>
</div>
