<header class="mx-auto w-5/6 p-3">
  <h1 class="text-center text-5xl lg:text-8xl"><%= @title %></h1>
  <p class="text-center lg:text-xl"><i><%= @subtitle %></i></p>
  <p class="text-center lg:text-lg"><%= @extra_line %></p>
  <%= render 'shared/links' %>
</header>
