<ul>
  <li class="my-4"><%= link_to 'Admin', authenticated_user_root_path, class: 'border-none' %></li>
  <li class="my-4"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'border-none' %></li>
  <li class="my-4"><%= link_to 'Settings', [@current_user, :edit], class: 'border-none' %></li>
</ul>
