<article class="tweet my-3">
  <%= link_to tweet_url do %>
    <section>
      <span><%= @tweet.text %></span>
    </section>
    <footer class="text-sm">
      <span><%= @tweet.tweeted_at %></span>
    </footer>
  <% end %>
</article>
