<h1>New About Line</h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', about_line: @about_line, about: @about %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', [@about, :about_lines] %>
  <% end %>
<% end %>
