<article id="spotify-player" class="h-full h-full flex items-end justify-center bg-spotify-album-cover from-gray-900 bg-cover">
  <footer>
    <h4>Simon Says</h4>
    <h5>Pharoahe Monch</h5>
    <% if @user.present? %>
    <% end %>
    <div class="mini-player-progress-bar">
      <span>1:04</span>
      <span class="mini-player-progress-bar--progress"></span>
      <span>2:53</span>
    </div>
  </footer>
</article>
