<%= turbo_frame_tag "impressions-graph" do %>
  <div id="impressions-line-chart" class="h-32 flex items-center justify-center" data-controller="line-charts" data-line-charts-data-endpoint-value="<%= impressions_graphs_path(format: :json) %>">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-line-charts-target="loader">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
    </svg>
  </div>
  <div id="impressions-donut-chart" class="h-32 flex items-center justify-center" data-controller="donut-charts" data-donut-charts-data-endpoint-value="<%= impressions_graphs_path(format: :json) %>">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-donut-charts-target="loader">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
    </svg>
  </div>
<% end %>
