<h1>Conversations</h1>

<%= turbo_stream_from "conversations" %>

<div id="conversations">
  <%= render @conversations %>
</div>

<br>

<%= link_to 'New Conversation', new_conversation_path, class: 'p-3 ml-3 rounded-sm shadow-sm text-gray-100 font-bold bg-indigo-400 border-indigo-800 hover:bg-indigo-300 hover:border-indigo-600' %>
