<h1>New Work</h1>
<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', work: @work, work_group: @work_group %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', [@work_group, :works] %>
  <% end %>
<% end %>
