<article class="w-4/5 mx-auto my-3 p-16 border-4 border-gray-900 shadow-glitch-top-left">
  <header class="p-4 text-2xl text-center">
    <%= header %>
  </header>
  <section class="p-4">
    <%= section %>
  </section>
  <footer class="text-right">
    <%= footer %>
  </footer>
</article>
