<div class="auth">
  <article class="auth-article">
    <header class="auth-article-header">
      <%= header %>
    </header>
    <section class="auth-article-section">
      <%= section %>
    </section>
    <footer class="auth-article-footer">
      <%= footer %>
    </footer>
  </article>
</div>
