<div
  class="toggle"
  data-controller="toggle"
  data-toggle-active-value="false"
  data-toggle-active-class="toggle-label__dot--active">
  <div class="toggle-container">
    <label for="lang-toggle" class="toggle-label">
      <div class="toggle-label__container" data-action="click->toggle#switch">
        <input type="checkbox" id="lang-toggle" class="toggle-input">
        <div class="toggle-label__fill"></div>
        <div class="toggle-label__dot" data-toggle-target="dot"></div>
      </div>
      <div class="ml-3 text-gray-700 font-medium">
        Toggle Me!
      </div>
    </label>
  </div>
</div>
