<h1>New Section</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', section: @section %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', sections_path %>
  <% end %>
<% end %>
