<% content_for :header do %>
  <%= render PageHeaderComponent.new(title: @section.title, subtitle: @profile.title, extra_line: @profile.animoji) %>
<% end %>

<div class="bg-background-cover h-screen w-screen fixed -z-999">
  <div class="bg-gradient-to-br from-white to-black via-white h-screen w-screen -z-999">
  </div>
</div>
<main class="flex flex-col">
  <section class="flex flex-col flex-grow h-full">
    <article class="mx-auto h-full w-5/6 p-3 mt-3 flex flex-col lg:flex-row items-center">
      <div class="w-2/3 mx-auto mt-3 lg:mt-0 lg:flex-shrink">
        <% if @profile.main_image.file.attached? %>
          <%= image_tag(@profile.main_image.file.variant(resize: '500x500'), width: 500, height: 500, alt: 'Profile Picture', class: 'rounded-full', loading: 'lazy') %>
        <% end %>
      </div>

      <div class="flex-grow ml-3">
        <section class="">
          <%= @section.content %>
        </section>
      </div>
    </article>
  </section>
</main>
