<div class="bg-background-cover h-screen w-screen fixed -z-999">
  <div class="bg-gradient-to-tl from-gray-200 via-yellow-100 to-green-400 h-screen w-screen -z-999"></div>
</div>
<section class="h-screen flex flex-col">
  <div class="flex flex-col flex-grow h-full">
    <div class="mx-auto w-5/6 p-3 border-4 border-gray-900 shadow-glitch-bottom-left">
      <h1 class="text-center text-5xl lg:text-8xl"><%= @profile.name %></h1>
      <p class="text-center lg:text-xl"><i><%= @profile.title %></i></p>
      <p class="text-center lg:text-lg"><%= @profile.animoji %></p>
    </div>
    <div class="mx-auto h-full w-5/6 p-3 mt-3 flex items-center overflow-hidden">
      <%= render ImageComponent.new(image: @profile.main_image, alt: 'Profile Picture', class: 'lg:h-full mx-auto self-center rounded-full lg:rounded-none') %>
    </div>
  </div>
</section>
