<section class="h-screen flex items-center bg-background-secondary-cover bg-center bg-scroll">
  <div class="w-2/6 p-3 mx-auto shadow-glitch-bottom-right bg-gray-100">
    <h1 class="text-center text-5xl"><%= @profile.name %></h1>
    <h2 class="text-center text-3xl"><%= @profile.title %></h2>
  </div>
</section>
<section class="h-screen flex flex-col">
  <article class="mt-32">
    <header class="justify-center text-center">
      <div class="mx-auto w-1/6 overflow-hidden">
        <%= image_tag @profile.main_image.file, class: 'rounded-full p-3' %>
      </div>
    </header>
    <section class="w-5/6 mx-auto">
      <p></p>
    </section>
  </article>
</section>
