<section class="h-screen flex flex-wrap">
  <div class="flex flex-col flex-grow h-full">
    <div class="mx-auto w-5/6 p-3 border-4 border-gray-900 shadow-glitch-bottom-right">
      <h1 class="text-center text-5xl lg:text-8xl"><%= @profile.name %></h1>
      <p class="text-center lg:text-xl"><i><%= @profile.title %></i></p>
      <p class="text-center lg:text-lg"><%= @profile.animoji %></p>
    </div>
    <div class="mx-auto h-full w-5/6 p-3 mt-3 flex items-center overflow-hidden">
      <%= render ImageComponent.new(image: @profile.main_image, alt: 'Profile Picture', class: 'lg:h-full mx-auto self-center rounded-full lg:rounded-none') %>
    </div>
  </div>
  <div class="hidden flex flex-col mx-auto w-5/6 md:w-1/3">
    <div class="h-20 p-3 m-3 text-center align-middle border-4 border-green-400 rounded-lg">
      Spotify Widget
    </div>
  </div>
</section>
