<h1>New Interest</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', interest: @interest, interest_group: @interest_group %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', [@interest_group, :interests] %>
  <% end %>
<% end %>
