<div class="mx-auto">
  <%= image_tag @image.file.variant(resize_to_limit: [150, 150]) %>
</div>
<p class="text-center flex flex-col">
  <strong><%= title %></strong>
  <small><%= alt %></small>
</p>
