<h1>New About</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', about: @about %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', :abouts %>
  <% end %>
<% end %>
