<h1>Image Proxies</h1>
<%= render Admin::TableComponent.new(records: @image_proxies, model: ImageProxy) do |c| %>
  <%= c.new_link do %>
    <%= link_to 'New Image Proxy', new_image_proxy_path %>
  <% end %>
<% end %>
