<h1>New Image Proxy</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', image_proxy: @image_proxy %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', image_proxies_path %>
  <% end %>
<% end %>
