@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'admin';
@import 'auth';
@import 'widgets';
@import '../../assets/stylesheets/actiontext.scss';

body:not(.admin) {
  font-size: calc(1em + 1vw);
}

#spotify-player {
  @apply h-full flex items-end justify-center rounded-md text-green-100;
  @apply bg-spotify-album-cover from-gray-900 bg-cover;

  h4 {
    @apply text-xl;
  }
}

.bg-background-cover > div {
  mix-blend-mode: screen;
}

.bg-background-cover > img {
  mix-blend-mode: screen;
}

.trix-content {
  a {
    @apply text-yellow-400 underline;
  }
}
