@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'admin';
@import 'auth';
@import 'widgets';
@import '../../assets/stylesheets/actiontext.scss';

body:not(.admin) {
  font-size: calc(1em + 1vw);
}

#spotify-player {
  @apply h-full flex items-end justify-center rounded-md text-green-100;
  @apply bg-spotify-album-cover from-gray-900 bg-cover;

  h4 {
    @apply text-xl;
  }
}

.bg-background-cover > div {
  mix-blend-mode: screen;
}

.bg-background-cover > img {
  mix-blend-mode: screen;
}

.trix-content {
  a {
    @apply text-yellow-400 underline;
  }
}

.dropdown {
  @apply relative inline-block mt-1;

  &-toggle {
    @apply p-3 bg-indigo-400 inline-flex justify-center rounded-sm border border-indigo-800 shadow-sm text-gray-50;
  }

  &-menu {
    @apply origin-top-left absolute left-0 mt-1 w-max rounded-sm shadow-sm bg-gray-50 ring-1 ring-black;
    display: none;

    &--expanded {
      div.dropdown-menu {
        display: initial
      }
    }
  }
}

.flash {
  @apply w-full flex flex-col;

  .notice, .alert {
    @apply px-3 h-10;
    @apply flex flex-row justify-between;

    span > svg {
      @apply items-center;
    }
  }

  .notice {
    @apply bg-green-100;
  }

  .alert {
    @apply bg-red-100;
  }
}


.localization-label {
  &::before {
    content: "🇲🇽";
  }
  &::after {
    content: "🇺🇸";
  }
}

.toggle {
  // @apply flex justify-center items-center;
  @apply absolute top-0 right-0;

  &-container {
    @apply flex items-center justify-center w-full;
  }

  &-label {
    @apply flex items-center cursor-pointer;

    &__container {
      @apply relative w-12;
    }

    &__fill {
      @apply block bg-gray-600 w-full h-6 rounded-full;
    }

    &__dot {
      @apply absolute left-1 top-0.5 bg-white w-5 h-5 rounded-full transition transform-gpu duration-200;
      @apply translate-x-0 border-gray-600;

      &--active {
        @apply translate-x-full border-green-400;
      }
    }
  }

  &-input {
    @apply sr-only;
  }
}

.impression {
  @apply flex flex-shrink mb-3;

  &-block {
    @apply items-center px-2 border-b-2 hover:bg-gray-100;
  }

  a {
    @apply opacity-0 transform duration-200;
  }

  &:hover > a {
    @apply opacity-100;
  }
}
