<h1>New Work Group</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', work_group: @work_group %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', :work_groups %>
  <% end %>
<% end %>
