<h1>Editing Location Proxy</h1>

<%= render 'form', location_proxy: @location_proxy, location_group: @location_group %>

<%= link_to 'Show', @location_proxy %> |
<%= link_to 'Back', [@location_group, :location_proxies] %>
