<p id="notice"><%= notice %></p>

<h1>Location Proxies</h1>
<%= render Admin::TableComponent.new(records: @location_proxies, model: LocationProxy) do |c| %>
  <%= c.new_link do %>
    <%= link_to 'New Location Proxy', [:new, :location_group, :location_proxy] %>
  <% end %>
<% end %>
