<h1>New Location</h1>

<%= render Admin::ArticleComponent.new do |c| %>
  <% c.section do %>
    <%= render 'form', location: @location %>
  <% end %>
  <% c.footer do %>
    <%= link_to 'Back', locations_path %>
  <% end %>
<% end %>
