<p id="notice"><%= notice %></p>

<h1>Images</h1>
<%= render Admin::TableComponent.new(records: @images, model: Image) do |c| %>
  <%= c.new_link do %>
    <%= link_to 'New Image', new_image_path %>
  <% end %>
<% end %>
